form(name="pchCtrl.form" ng-controller="AddPurchaseController as pchCtrl" novalidate=""
    ng-submit="pchCtrl.addPurchase(model.event, pchCtrl.purchase)")
  p.title= t("app.event.purchase_form.title")
  .row
    .col-xs-12
      .form-group(element-validation="pchCtrl.form.purchaseLabel")
        label(for="inputPurchaseLabel") *&nbsp;
          = t("app.event.purchase_form.label")
        input#inputPurchaseLabel.form-control(type="text" ng-model="pchCtrl.purchase.label"
            name="purchaseLabel" placeholder=t("app.event.purchase_form.label_ph") required="")
  .row
    .col-sm-6.col-xs-7(element-validation="pchCtrl.form.purchaseAmount")
      .form-group
        label(for="inputPurchaseAmount") *&nbsp;
          = t("app.event.purchase_form.amount")
        .input-group
          .input-group-addon €
          input#intputPurchaseAmount.form-control.text-right(ng-model="pchCtrl.purchase.amount" required=""
              placeholder=t("app.event.purchase_form.amount_ph") name="purchaseAmount" currency-validation="")
          .input-group-addon()= t("app.event.purchase_form.amount_precision")
    .col-sm-6.col-xs-12(element-validation="pchCtrl.form.purchasePurchaser")
      .form-group
        label(for="inputPurchasePurchaser") *&nbsp;
          = t("app.event.purchase_form.purchaser")
        br
        button#inputPurchasePurchaser.btn.btn-default(type="button" ng-model="pchCtrl.purchase.purchaser" bs-select=""
            data-placeholder=t("app.event.purchase_form.purchaser_ph") name="purchasePurchaser" required=""
            bs-options="participant.name as participant.name for participant in model.event.participants")
      .form-group(element-validation="pchCtrl.form.purchaseParticipants")
  .row
    .col-xs-12
      .form-group
        label(for="inputPurchaseParticipants") *&nbsp;
          = t("app.event.purchase_form.share_with.label")
        br
        button#inputPurchaseParticipants.btn.btn-default(type="button" ng-model="pchCtrl.purchase.participants"
            bs-select="" data-multiple="1" data-all-none-buttons="true" name="purchaseParticipants"
            data-all-text=t("app.event.purchase_form.share_with.all") required="" data-max-length="4"
            data-none-text=t("app.event.purchase_form.share_with.none")
            data-max-length-html=t("app.event.purchase_form.share_with.selected")
            data-placeholder=t("app.event.purchase_form.share_with.ph")
            bs-options="participant.name as participant.name for participant in model.event.participants")
  .row
    .col-xs-12
      .form-group
        textarea.form-control(ng-model="pchCtrl.purchase.description" rows="3"
            placeholder=t("app.event.purchase_form.description_ph"))
  .row
    .col-xs-12
      .alert.alert-danger.text-center(ng-cloak="" ng-if="pchCtrl.errors")
        div(ng-repeat="error in pchCtrl.errors" ng-i18next="app.event.purchase_form.errors.{{error.message}}")
  .row
    .col-xs-12
      .form-group
        button.btn.btn-block.btn-primary(type="submit" disable-on-request="" ng-disabled="pchCtrl.form.$invalid"
            data-loading-text=t("app.event.purchase_form.loading"))
          = t("app.event.purchase_form.submit")
  p.text-muted *&nbsp;
    = t("app.form.field_required_help")