.expenses-list-panel(ng-controller="ExpensesListController as listModel")
  .panel.panel-primary(ng-cloak="" ng-repeat="expense in listModel.expenses | orderBy:$index:true")
    .panel-heading
      .floating-options.dropdown
        button#expenseMenu.btn.btn-options.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true")
          span.glyphicon.glyphicon-option-vertical(aria-hidden="true")
        ul.dropdown-menu.dropdown-menu-right(aria-labelledby="expenseMenu")
          li
            a(href="javascript:void(0)" ng-click="listModel.deleteExpense(expense)")
              span.glyphicon.glyphicon-trash(aria-hidden="true")
              |  #{t("app.expenses.delete.label")}
      h4
        span.text-bold {{::expense.amount | currency}}
        | &nbsp;- {{::expense.label}}
    .panel-body
      p #{t("app.expenses.by")}&nbsp;
        span.text-bold(ng-bind="::expense.purchaserName")
      p #{t("app.expenses.shared")}&nbsp;
        span.text-bold(debts-inline-data="::expense.participantsNames")
    .panel-footer(ng-if="::expense.description" ng-bind="::expense.description")
  loading-spinner(ng-show="listModel.loading")
  .row.text-center(ng-hide="listModel.loading")
    button.btn.btn-load-more(ng-click="listModel.loadMore()" ng-disabled="listModel.allLoaded")
      span.glyphicon.glyphicon-triangle-bottom(aria-hidden="true")
      |  #{t("app.expenses.load_more")}