doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="#{description}")
    meta(name="author", content="Vincent Tertre")
    title #{title}
    link(href="//fonts.googleapis.com/css?family=PT+Sans:400,700")
    link(href=revision("/genere/css/style.css"), rel="stylesheet", type="text/css")

  body(ng-app="app")
    header
    block content
    footer.page-footer
      .container
        hr
        p= t("app.global.footer.made_by")
          |  <a href="https://twitter.com/YouKnowUU" title="#{twitter_account}" class="external-link")>@YouKnowUU</a>.
    block js