.modal(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" aria-label=t("app.event.modal.delete.close") ng-click="close(false)")
          span(aria-hidden="true") &times;
        h4.modal-title= t("app.event.modal.delete.title")
      .modal-body #{t("app.event.modal.delete.warning")} "{{::expense.label}}"#{t("util.question_mark")}
      .modal-footer
        button.btn.btn-primary(type="button" ng-click="close(true)")
          span.glyphicon.glyphicon-ok-circle(aria-hidden="true")
          |  #{t("app.event.modal.delete.confirm")}
        button.btn.btn-default(type="button" ng-click="close(false)")= t("app.event.modal.delete.cancel")