.event-header
  .jumbotron.inverse
    .container
      h1(ng-bind="::model.event.name")
      p(ng-cloak="").lead #{t("app.event.with")}&nbsp;
        span(debts-inline-data="model.event.participants;name")
.container
  .row
    .event-layout-aside.col-md-2.col-xs-12.pull-right
      .row
        .col-md-12.col-sm-3.col-xs-6
          button.btn.btn-action.btn-block(type="button" ng-click="model.addParticipant()")
            span.glyphicon.glyphicon-plus-sign
            |  #{t("app.event.add_p")}
    .event-layout-content.col-md-10.col-xs-12
      nav
        ul.nav.nav-tabs.nav-tabs-content
          li(role="presentation" ui-sref-active="active")
            a(ui-sref="event.expenses")= t("app.event.tabs.expenses")
          li(role="presentation" ui-sref-active="active")
            a(ui-sref="event.participants")= t("app.event.tabs.participants")
          li(role="presentation" ui-sref-active="active")
            a(ui-sref="event.results")= t("app.event.tabs.results")
      div(ui-view="")