.event-header
  .jumbotron.inverse
    .container
      h1(ng-bind="::model.event.name")
      p(ng-cloak="").lead #{t("app.event.with")}&nbsp;
        span(debts-inline-data="::model.event.participants;name")
.container
  .row
    .col-sm-4.col-xs-12.visible-sm.visible-xs
      nav
        ul.nav.nav-pills.nav-stacked.event-pills(role="tablist")
          li(role="presentation" ui-sref-active="active")
            a(ui-sref="event.details")= t("app.event.tabs.details")
          li(role="presentation" ui-sref-active="active")
            a(ui-sref="event.result")= t("app.event.tabs.result")
    .col-md-10.col-xs-12
      div(ui-view="")
    .col-md-2.hidden-sm.hidden-xs
      nav
        ul.nav.nav-pills.nav-stacked.event-pills(role="tablist")
          li(role="presentation" ui-sref-active="active")
            a(ui-sref="event.details")= t("app.event.tabs.details")
          li(role="presentation" ui-sref-active="active")
            a(ui-sref="event.result")= t("app.event.tabs.result")