.result-board
  .row
    .col-lg-8.col-lg-offset-2.btn-header
      a.btn.btn-default(type="button" ui-sref="event.details" title=t("app.debts.back"))
        span.glyphicon.glyphicon-arrow-left(aria-hidden="true")
        | &nbsp;#{t("app.debts.back")}
  .row.participant-result(ng-repeat="participantResults in model.result")
    .result-box.col-lg-8.col-lg-offset-2.col-xs-12
      .col-lg-6.col-sm-6.col-xs-12
        h2 {{::participantResults.participantName}}
        p= t("app.debts.total_spent")
          span.text-bold  {{::participantResults.totalSpent | currency:'€':2}}</span>
      .col-lg-6.col-sm-6.col-xs-12
        .table-responsive
          table.table
            thead
              tr
                th= t("app.debts.creditor")
                th= t("app.debts.debt")
            tbody
              tr(ng-repeat="debt in ::participantResults.debtsDetail" debts-visual-indicator="")
                th(scope="row") {{::debt.creditorName}}
                td {{::debt.amount | currency:'€':2}}
            tfoot
              tr
                th(scope="row")= t("app.debts.total")
                td.text-bold {{::participantResults.totalDebt | currency:'€':2}}